@model Capstone_MVC.ViewModels.UserVM
@{
    ViewBag.Title = "AddNewUser";
}

<div class="signup-form">
    <!--Using block for form-->
    @using (Html.BeginForm("AddNewUser", "User", FormMethod.Post))
    {

        if (Session["Username"] == null)
        {
            //If guest, display "Sign Up"
            <h1 class="purple-header">Create An Account</h1>
            <h1></h1>
        }
        else
        {
            //If Admin, display "Add New User"
            <h1 class="purple-header">Add New User</h1>
            <h1></h1>
        }
        <div class="container row">
            <!--Div for first column-->
            <div class="col-md-3 col-md-offset-3">
                <div class="form-group">
                    <!--Div for red asterisk-->
                    <div class="required-fields">
                        @Html.LabelFor(model => Model.User.Username)
                    </div>
                    @Html.TextBoxFor(model => Model.User.Username,
                        new { @class = "form-control", @placeholder = "Username..." })
                    @Html.ValidationMessageFor(model => Model.User.Username, "",
                        new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <!--Div for red asterisk-->
                    <div class="required-fields">
                        @Html.LabelFor(model => Model.User.Password)
                    </div>
                    @Html.TextBoxFor(model => Model.User.Password,
                        new { @class = "form-control", @placeholder = "Password..." })
                    @Html.ValidationMessageFor(model => Model.User.Password, "",
                        new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <!--Div for red asterisk-->
                    <div class="required-fields">
                        @Html.LabelFor(model => Model.User.FirstName)
                    </div>
                    @Html.TextBoxFor(model => Model.User.FirstName,
                        new { @class = "form-control", @placeholder = "First Name..." })
                    @Html.ValidationMessageFor(model => Model.User.FirstName, "",
                        new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <!--Div for red asterisk-->
                    <div class="required-fields">
                        @Html.LabelFor(model => Model.User.LastName)
                    </div>
                    @Html.TextBoxFor(model => Model.User.LastName,
                        new { @class = "form-control", @placeholder = "Last Name..." })
                    @Html.ValidationMessageFor(model => Model.User.LastName, "",
                        new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <!--Div for red asterisk-->
                    <div class="required-fields">
                        @Html.LabelFor(model => Model.User.EmailAddress)
                    </div>
                    @Html.TextBoxFor(model => Model.User.EmailAddress,
                        new { @class = "form-control", @placeholder = "E-mail Address..." })
                    @Html.ValidationMessageFor(model => Model.User.EmailAddress, "",
                        new { @class = "text-danger" })
                </div>
            </div>
            <!--Div for second column-->
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => Model.User.Language)
                    @Html.TextBoxFor(model => Model.User.Language,
                        new { @class = "form-control", @placeholder = "Language..." })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => Model.User.Birthdate)
                    @Html.TextBoxFor(model => Model.User.Birthdate,
                        new { @class = "form-control", @placeholder = "Date Of Birth..." })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => Model.User.FavoriteSongs)
                    @Html.TextBoxFor(model => Model.User.FavoriteSongs,
                        new { @class = "form-control", @placeholder = "Favorite Songs..." })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => Model.User.ExternalLink)
                    @Html.TextBoxFor(model => Model.User.ExternalLink,
                        new { @class = "form-control", @placeholder = "Personal Links..." })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => Model.User.AboutMeContent)
                    @Html.TextBoxFor(model => Model.User.AboutMeContent,
                        new { @class = "form-control", @placeholder = "Tell us a little about yourself..." })
                </div>
                @Html.HiddenFor(model => Model.User.Suspended)
            </div>
            <!--Submit button-->
            <div class="form-group signup-button">
                @if (Session["Username"] == null)
                {
            <!--If guest, display as "Sign Up" button-->
                    <input class="btn btn-success btn-lg" type="submit" value="Sign Up" />
                }
                else
                {
            <!--If Admin, display as "Add User" button-->
                    <input class="btn btn-success btn-lg" type="submit" value="Add User" />
                }
            </div>
        </div>
    }
</div>
<!--Div for Cancel button-->
<div>
    @if (Session["Username"] == null)
    {
        <!--If guest, redirect upon Cancel to Welcome-->
        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-danger" })
    }
    else
    {
        //If Admin, redirect upon Cancel to View All Users
        @Html.ActionLink("Cancel", "Index", "User", null, new { @class = "btn btn-danger" })
    }
</div>